@import "../global.css";

body {
    background-color: var(--mdc-theme-primary);
}

header {
    height: 2em;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
}

#logo {
    padding: 0 1em;

    img {
        width: 150px
    }
}

#content {
    padding: 1em 0;

    h1 {
        margin: 0;
        font-size: 1.5em;
    }

    p {
        margin: 0 0 1em 0;
        font-size: 0.9em;
    }

    a {
        color: darkblue;
    }
}
