@import "../global.css";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

mwc-top-app-bar-fixed {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#main-content {
    display: flex;
    flex-direction: column;
    gap: 1em;

    padding: 1em;
    overflow: hidden;
    flex-grow: 1;
}

#preset-selector {
    width: 100%;
}

#image-grid-container {
    flex-grow: 1;
    overflow: auto;
}

ic-image {
    width: 6em;
    height: 6em;
}

#image-grid {
    th, td {
        padding: 0.5em;
    }
}

#topActions {
    display: flex;
    justify-content: space-between;
}

#bottomActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    flex-shrink: 0;
    height: 1.25em;

    display: flex;
    align-items: center;
    padding: 0 0.5em;

    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);

    --mdc-icon-button-size: 16px;
    --mdc-icon-size: 16px;

    .spacer {
        flex-grow: 1;
    }
}
