:root {
    --mdc-theme-primary: #006e8b;
    --mdc-theme-secondary: #ff9300;
    --mdc-theme-surface: #ffffff;
    --mdc-theme-background: #ffffff;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-on-secondary: #000000;
    --mdc-theme-on-surface: #000000;

    --mdc-typography-font-family: Roboto, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--mdc-theme-background);
    color: var(--mdc-theme-on-surface);
    font-family: var(--mdc-typography-font-family);
}
